<div id="content">
  <form (submit)="check()" class="sign-for">
    <mat-tab-group id="nav" [(selectedIndex)]="tab_id">
    <mat-tab label="* Summary">
      <br><br>
      <!-- Event Description -->
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title><h2>Event Information</h2></mat-panel-title>
          </mat-expansion-panel-header>
          <app-details [default]="details" (getdesc)="setEventDesc($event)" (event_type)="setEventType($event)" (event_name)="setEventName($event)" (valid)="checkDesc($event)" (getlang)="setLanguage($event)" (getInd)="setIndustry($event)"></app-details>
          <br><br>
        </mat-expansion-panel>
        
        <!-- Event Dates -->

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title><h2>Event Dates</h2></mat-panel-title>
          </mat-expansion-panel-header>
          <!-- date content -->
          <p>Events can last for days.</p>
          <br>
          <h3>Select Date and Time</h3>
          <div id="messages">
            <p id="warning" *ngIf="flags[0] == true">Make sure you fill in all the fields.</p>
            <p id="success" *ngIf="success">Success.</p>
          </div>
          <br>
            <div>
              <app-dates *ngFor="let d of dates; index as i" [id]="i+1" [dis]="verifyFirst(i)" [initial]="lastDate(i)" [dates]="datesV" (dat)="pushDateV($event)" (valid)="peek($event)" (updat)="updateData($event)" (del)="delete(i)">No dates entered.</app-dates>
              <br>
              <div>
                <button mat-flat-button (click)="pushDate($event)" color="primary">Add Date</button>
              </div>
            </div>
          <br><br>
          <h3>Select Time Zone</h3>
          <mat-form-field class="time_zone" appearance="fill">
            <mat-label>Select Time Zone</mat-label>
            <mat-select matInput name="TZ" (ngModelChange)="setTimeZoneValue($event)" [ngModel]="selTZ | async">
              <mat-option name="t_opt" [value]="t.text" *ngFor="let t of TimeZones | async">{{ t.text }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
        </mat-expansion-panel>
      </mat-tab>
      <mat-tab label="* Setup">
      <!-- App setup -->
        <app-setup [dates]="datesV"></app-setup>
      </mat-tab>
      <mat-tab label="* Flyer Design">
        <!-- Flyer -->

        <app-drag-drop></app-drag-drop>

      </mat-tab>
      <mat-tab label="* Publish and Share"></mat-tab>
    </mat-tab-group>
    <br>
    <table id="options">
      <tr>
        <td>
          <button mat-button color="primary" [disabled]="dis">Save</button>
        </td>
        <td>
          |
        </td>
        <td>
          <button mat-button color="primary" (click)="onNext($event)">Next</button>
        </td>
      </tr>
    </table>
  </form>
</div>