#content {
     margin-left: 20vw;
}

#nav {
    width: 70%;
}

h3 {
    text-decoration: underline;
}

form {
    width: 100%;
}

#head {
    border-collapse: separate;
    border-spacing: 5vw 0;
}

table th {
    text-decoration: none;
    text-align: left;
}

.time {
    width: 5vw;
}

.time_zone {
    width: 30vw;
}

#warning {
    color: red;
}

#success {
    color: green;
}

#options {
    float: right;
    margin-right: 20vw;
}