#confs {
    width: 100%;
}

.warning {
    color: red;
}

.time {
    width: 5vw;
}

#counter {
    color: #aaa;
    border: 1px solid #aaa;
    border-width: 1px 1px 1px 1px;
    text-align: right;
    padding: 5px 15px;
    text-align: right;
}

#evType {
    width: 70%;
}